.Wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  justify-items: center;
  grid-auto-rows: minmax(30px, auto);
  margin:auto;
  font-family: futura;
}
.Title{
  grid-column:2/3;
  color: #c0b283
}
.Navbar {
  grid-row: 2/3;
  grid-column: 2/3;
}

#placeholder {
  max-width: 960px;
}

body {
  background-color:#F4F4F4;
}

@media only screen and (max-width: 960px) {
  body{
    background-color: black;
    background-image:none;
    grid-template-columns:100vw;
    
 }
}
