.Wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-auto-rows: minmax(30px, auto);
}

.Navbar {
  grid-row: 4/5;
}

#placeholder {
  max-width: 960px;
}

body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
