.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  justify-content: center;
}

.grid > button {
  font-size: 2em;
  font-weight: thin;
  color: white;
  margin: 0 70;
  padding: 15px 60px;
  text-align: center;
  outline: none;
}

input,
button,
submit {
  border: none;
}

