.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  justify-content: center;
}

.grid > button {
  font-size: 2em;
  font-weight: thin;
  color: white;
  margin: 0 70;
  padding: 15px 60px;
  text-align: center;
  outline: none;
}

input,
button,
submit {
  border: none;
}

.tab1 {
  background-image: linear-gradient(
    to right,
    #f46b45 0%,
    #eea849 51%,
    #f46b45 100%
  );
}
.tab2 {
  background-image: linear-gradient(
    to right,
    #005c97 0%,
    #363795 51%,
    #005c97 100%
  );
}
.tab3 {
  background-image: linear-gradient(
    to right,
    #e53935 0%,
    #e35d5b 51%,
    #e53935 100%
  );
}
.tab4 {
  background-image: linear-gradient(
    to right,
    #673ab7 0%,
    #512da8 51%,
    #673ab7 100%
  );
}
