.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0;
    justify-content: center;
}

.grid > button {
    font-size: 2em;
    font-weight: thin;
    background-color: #eb7070;
    color: #fff;
    margin: 0 70;
    padding: 0.8em;
    text-align: center;
    outline: none;
  }
 