.Wrap {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas:
    "artboard artboard artboard"
    "pictures sounds quotes";
  background-color: #373737;
  color:#F4F4F4;
}

.Artboard {
  grid-area: artboard;
  width: 100%;
}

.textboxes{
  text-align:left;
  padding-left:30%;
  margin-bottom: 20px;
}

#pictures {
  grid-area: pictures;
  border-right: 2px solid #F4F4F4;
  border-top: 2px solid #F4F4F4;
}

#sounds {
  grid-area: sounds;
  border-right: 2px solid #F4F4F4;
  border-top: 2px solid #F4F4F4;
}

#quotes {
  grid-area: quotes;
  border-top: 2px solid #F4F4F4;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-top:4px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  text-align:left;
}
@media all and (max-width: 768px) { 
  .h2{
    font-size:14px;
  }
  .container{
    font-size: 12px;
  }
  .textboxes{
    padding-left:10%;
  }
}

@media all and (max-width: 480px) { 
.h2{
 font-size: 18px;
}
.container{
  font-size:12px;
}
.textboxes{
  padding-left:10%;
}
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border:1px solid gray;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
